.hide {
    visibility: collapse;
}
#admin-body{
    background: black;
}
.page-content{
    padding: 0 30px;
}
.page-title{
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 600;
}
.section-title{
    margin-bottom: 15px;
}
.settings-section-title{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-size: 32px;
}
.responsive-nav-grid{
    display: grid;
    margin: 0.5rem;
}
@media (min-width: 992px) {
    .push-right-lg{
        margin-left: auto !important;
    }
}
.center{
    align-items: center;
}
.card-content{
    margin: 0;
    text-align: center;
}
.card-content-block{
    margin: 0;
    text-align: left;
}
.card-header{
    text-align: center;
    font-size: 23px;
}
.card-block{
  padding-bottom: 0;
}

#dashboardButton{
    cursor: pointer;
}
.sidebar-selected{
    background-color: #007bff !important;
    color: white !important;
}
.sidebar-selected:hover{
    background-color: #0271e9 !important;
    color: white !important;
}
#settingsButton{
    cursor: pointer;
}
.settings-input{
    box-shadow: 0 0 0 0 !important;
    border-color: #73AFCA;
    color: #507A8E;
}
.settings-input:focus{
    box-shadow: 0 0 0 0 !important;
    border-color: #73AFCA;
    color: #507A8E;
}
.helperText{
    color: #73AFCA;
}
.helperText a{
    color: #507A8E;
}
#logoutButton{
    margin: 5px 0;
}
#timerangeDropdown{
    color: white;
}
#companyDropdown{
    color: white;
}
#sinceTimeRange{
    margin: 0 !important;
    font-style: italic;
    color: lightgrey;
}
#nameLabel{
    padding: 0.5rem 0.5rem;
}
#companyLabel{
    padding: 0.5rem 1rem;
}
#addPointButton{
    margin-top: 25px;
}

.bg-light-green{
    background-color: #6DA36D;
}
.bg-light-blue{
    background-color: #73AFCA;
}
.bg-light-red{
    background-color: #CA8373;
}
.bg-light-orange{
    background-color: #E4C680;
}
.title-light-green{
    color: #4E754E;
}
.title-light-blue{
    color: #507A8E;
}
.title-light-red{
    color: #89594E;
}
.title-light-orange{
    color: #AA935C;
}

/* Main Branding CSS */
.main-title-color{
    color: #507A8E;
}
.sidekick-title-color{
    color: #73AFCA;
}
.main-button-color{
    background-color: #73AFCA !important;
    color: white !important;
}
.main-button-color:hover{
    background-color: #507A8E !important;
}
.main-button-color:focus{
    box-shadow: 0 0 0 0 !important;
}
.sidebar-button-color-selected{
    background-color: #73AFCA !important;
    color: white !important;
}
.sidebar-button-color-selected:hover{
    background-color: #507A8E !important;
}
.sidebar-button-color-notselected{
    background-color: white !important;
    color: #507A8E !important;
}
.sidebar-button-color-notselected:hover{
    background-color: #DEE2E6 !important;
}
